.button {
  font-size: 25px;
  height: 60px;
  margin: 10px;
  user-select: none;
  outline: none;
  border: 3px solid whitesmoke;
  background: rgba(0, 0, 0, 0.7);
  display: block;
  color: red;
  font-weight: bold;
  min-width: 30%;
  border-radius: 3px;
  &:disabled {
    filter: brightness(50%) !important;
    cursor: default !important ;
  }
  &:hover, &:focus {
    background: rgba(255, 255, 255, 0.7);
    border: 3px solid red;
  }
}

@media only screen and (max-width: 900px) {
  .button {
    width: 90vw;
  }
}