.button {
  font-size: 25px;
  height: 60px;
  margin: 10px;
  user-select: none;
  outline: none;
  border: 3px solid whitesmoke;
  background: black;
  display: block;
  color: red;
  font-weight: bold;
  min-width: 30%;
  border-radius: 3px;
}

@media only screen and (max-width: 900px) {
  .button {
    width: 90vw;
  }
}