.leaderboard-box {
  text-align: center;
  display: block;
  margin: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: whitesmoke;
  padding: 16px;
}

@media only screen and (max-width: 1000px) {
  .leaderboard-box {
    border-bottom: 3px solid var(--primary_color);
    width: 100vw;
    max-height: 100px;
    overflow: hidden;
    padding: 6px;
  }
}

.mobileCountdown {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: whitesmoke;
  border-left: none;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  padding: 15px;
}

@media only screen and (min-width:1000px) {
  .leaderboard-box {
    border-right: 3px solid var(--primary_color);
    height: 100vh;
  }
}

tr, th {
  padding: 5px;
}

.playerData {
  text-align: center;
}

.leaderboard-box table {
  width: 100%;
  text-align: center;
}