.leaderboard-box {
  text-align: center;
  display: block;
  margin: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  padding: 16px;
}

@media only screen and (max-width: 600px) {
  .leaderboard-box {
    border-bottom: 3px solid var(--primary_color);
    width: 100vw;
    max-height: 200px;
    overflow: hidden;
    padding: 6px;
  }
}

@media only screen and (min-width: 600px) {
  .leaderboard-box {
    border-right: 3px solid var(--primary_color);
    height: 100vh;
  }
}

tr, th {
  padding: 5px;
}

.playerData {
  text-align: center;
}

.leaderboard-box table {
  width: 100%;
  text-align: center;
}