.button {
  padding: 8px 16px 8px 16px;
  font-size: 16;
  height: 48px;
  margin: 4px;
  user-select: none;
  outline: none;
  border: none;
  background-color: var(--primary_color);
  display: block;
  color: white;
  max-width: 100%;
  width: 80%;
  border-radius: 8px;
  cursor: pointer;
  &:disabled {
    filter: brightness(50%) !important;
    cursor: default !important ;
  }
  &:hover, &:focus {
    filter: brightness(90%);
    outline: 'solid while 3px';
    outline-offset: 1px;
  }
}
/*
const BUTTON_COLOR = '#375a7f';

const BUTTON: CSSProperties = {
  WebkitUserSelect: 'none',
  msUserSelect: 'none',
  MozUserSelect: 'none',
  userSelect: 'none',
  fontSize: 16,
  borderRadius: 8,
  padding: '8px 16px 8px 16px',
  outline: 'none',
  border: 'none',
  backgroundColor: BUTTON_COLOR,
  color: 'white',
  minHeight: 48,
  width: '100%',
  maxWidth: '100%',
};

const CURSOR_POINTER: CSSProperties = {
  cursor: 'pointer',
};

const BUTTON_HOVERED: CSSProperties = {
  filter: 'brightness(90%)',
};

const BUTTON_FOCUSED: CSSProperties = {
  filter: 'brightness(90%)',
  outline: 'solid #375a7f 3px',
  outlineOffset: '1px',
};

const BUTTON_REVERSED: CSSProperties = {
  backgroundColor: 'white',
  color: BUTTON_COLOR,
  border: `2px solid ${BUTTON_COLOR}`,
};

const BUTTON_ICON: CSSProperties = {
  width: 20,
  height: 20,
};
*/
