@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
  --background_color: black;
  --primary_color: #c60c30;
  --primary_variant: #c60c30;
  --secondary_color: #f9461c;
  --secondary_variant: #f9461c;
  --text_color: #FFFFFF;
}

a {
  color: white;
}

* {
  font-family: 'Cinzel', serif;
}

body {
  font-family: 'Cinzel', serif;
	width: 100%;
	height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--background_color);
  user-select: none;
  color: var(--text_color);
}

.interactable {
  pointer-events: auto;
  user-select: auto;
}

h1 {
	color: var(--primary_color);
}
