@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

:root {
  --primary_color: #c60c30;
  --primary_variant: #c60c30;
  --secondary_color: #f9461c;
  --secondary_variant: #f9461c;
  --text_color: #FFFFFF;
}

a {
  color: white;
}

* {
  font-family: 'Cinzel', serif;
  cursor: crosshair;
}

body {
  font-family: 'Cinzel', serif;
	width: 100%;
	height: 100%;
  padding: 0;
  margin: 0;
  background: url('/background-tile.png');
  user-select: none;
  color: var(--text_color);
}

div.centerer {
  background-color: black;
  padding: 15px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.interactable {
  pointer-events: auto;
  user-select: auto;
}

h1 {
	color: var(--primary_color);
}

.firebaseui-idp-text {
  font-weight: bolder;
}

ul {
  list-style-type: circle;
}

ul li {
  font-size: 25px;
}