.leaderboard-box {
  text-align: left;
  display: block;
  margin: auto;
  margin-right: 40px;
  margin-left: 40px;
  position: absolute;
  right: 0px;
  margin-top: 20px;
  border: 3px solid var(--primary_color);
  border-radius: 2;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px;
  overflow: hidden;
  height: 90px;
}

@media only screen and (max-width: 600px) {
  .leaderboard-box {
    max-width: 90%;
    min-width: 70%;
  }
}

@media only screen and (min-width: 600px) {
  .leaderboard-box {
    max-width: 40vw;
  }
}

tr, th {
  padding: 10px;
}

.playerData {
  text-align: center;
}

#students {
  display: flex;
  flex-direction: row;
}

#countdown {
  min-width: 5.5vw;
  margin-right: 2vw;
}