.container-box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 8px 16px rgba(9,30,66,.5);
  border: 1px solid var(--primary_color);
  background-color: rgba(255, 255, 255, 0.12);
  border-radius: 8;
  padding: 16px;
  overflow: hidden;
  width: 500px;
  max-width: 90%;
}
