.boxContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-shadow: 0 8px 16px rgba(9,30,66,.5);
  border-top: 3px solid var(--primary_color);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8;
  overflow: hidden;
  width: 100vw;
}
