.leaderboardContainer {
  text-align: center;
  display: block;
  margin: auto;
  position: fixed;
  bottom: 20px;
  left: 0px;
  background-color: black;
  color: whitesmoke;
  padding: 16px;
}

@media only screen and (max-width: 1000px) {
  .leaderboardContainer {
    border-bottom: 3px solid var(--primary_color);
    width: 100vw;
    max-height: 40px;
    overflow: hidden;
    padding: 6px;
  }
}

.mobileCountdown {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: whitesmoke;
  border-left: none;
  border-right: 3px solid red;
  border-bottom: 3px solid red;
  border-top: 3px solid red;
  padding: 20px;
}

@media only screen and (min-width:1000px) {
  .leaderboardContainer {
    border-right: 3px solid var(--primary_color);
    border-top: 3px solid var(--primary_color);
    border-bottom: 3px solid var(--primary_color);
    height: 30vh;
    min-width: 30%;
  }
}

.leaderboardContainer tr, .leaderboardContainer th {
  padding: 5px;
}

.mobileCountdown tr, .mobileCountdown th {
  padding: 15px;
}

.playerData {
  text-align: center;
}

.leaderboardContainer table {
  width: 100%;
  text-align: center;
}

.chatlog {
  text-align: right;
  height: 30vh;
  width: 25vw;
  position: fixed;
  bottom: 20px;
  right: 0;
  padding: 15px;
  font-size: 13pt;
  background: rgba(0, 0, 0, 0.6);
}